
/* Define the height and width of the "grid" */
.grid {
    position:absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    /* Moved the grid so we can see it better */
    margin-top: 80px;
}


/* Define the block style. */
.block {
    /* Need position absolute in order to use the left property. */
    position:absolute;
    width:100px;
    height: 20px;
    background-color: blue;
    /* left and bottom are the anchor points of our blocks in javascript. */
    /* left: 50px;
    bottom: 50px; */
}

.user {
    position: absolute;
    width: 100px;
    height:20px;
    background-color: purple;
}

.ball {
    position:absolute;
    width: 20px;
    height: 20px;
    /* border-radius to give it rounded corners and make it a circle */
    border-radius: 10px;
    background-color: red;
}