
/* Define the height and width of the "grid" */
.grid {
    position:absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    /* Moved the grid so we can see it better */
    margin-top: 80px;
}


/* Define the block style. */
.block {
    /* Need position absolute in order to use the left property. */
    position:absolute;
    width:100px;
    height: 20px;
    background-color: blue;
    
}

.user {
    position: absolute;
    width: 100px;
    height:20px;
    background-color: purple;
}

.ball {
    position:absolute;
    width: 20px;
    height: 20px;
    /* border-radius to give it rounded corners and make it a circle */
    border-radius: 10px;
    background-color: red;
}

.none {
    display: none;
}
 .gameover {
    display: flex;
    flex-wrap:nowrap;
    width: auto;
margin-top: 300px;
margin-left: 300px;
font-size: 300px;
/* transform: rotate(1turn); */
animation: mymove 5s infinite; /*mlsdkf 1.4s ease-in-out infinite;*/
transition: 5s cubic-bezier(0,1.5,.5,1) ;
/* animation:mlsdkf 1.4s ease-in-out infinite; */
}

@keyframes mymove {
  from {color: red;}
  to {color: blue;}
}
/* keyframes mlskf {
    100% {
     transform:rotate(360deg);
    }
   }
   @keyframes mlsdkf {
    0% {
     stroke-dasharray:1,189;
     stroke-dashoffset:0;
    }
    50% {
     stroke-dasharray:134,189;
     stroke-dashoffset:-53px;
    }
    100% {
     stroke-dasharray:134,189;
     stroke-dashoffset:-188px;
    }
   } */


